/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}
#nprogress {
  .bar {
    position: fixed;
    z-index: 1031;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-image: linear-gradient(90deg, #006eff, #13adff);
    background-color: #3385ff;
  }
}
